@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import "variables";
@import "header";
@import "slider";
@import "items-grid";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
}

.app {
  width: 100%;
}

a {
  outline: none;
  text-decoration: none;
}